.container {
  position: relative;

  & .element-clear-banner {
    display: none;

    @include breakpoint(1024px) {
      display: block;
      position: absolute;
      top: -20px;
      right: -50px;
    }
  }

  & .element-dark-banner {
    display: none;

    @include breakpoint(1024px) {
      display: block;
      position: absolute;
      bottom: 30px;
      left: -60px;
      z-index: -10;
    }
  }
}
