.services {
    position: relative;

    & .element-services {
        display: none;
        position: absolute;
        z-index: -10;

        @include breakpoint(768px) {
            display: block;
            top: 225px;
            left: 0;
        }

        @include breakpoint(1024px) {
            display: block;
            top: 0;
        }
        
        @include breakpoint(1441px) {
            display: none;
        }
    }
}