.blog {
  & h2 {
    margin-bottom: 25px;
    text-align: center;
  }

  a {
    color: var(--color-azul);
  }

  & .btn {
    display: block;
    text-align: center;
    margin: 20px auto;
  }

  margin-bottom: 50px;
}
