.hero {
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint(768px) {
      flex-wrap: nowrap;
    }

    @include breakpoint(1024px) {
      gap: 60px;
    }
  }

  & img {
    @include breakpoint(768px) {
      max-width: 370px;
    }

    @include breakpoint(1024px) {
      max-width: 500px;
    }

    @include breakpoint(1280px) {
      max-width: 650px;
    }
  }

  margin-bottom: 50px;
}
