.cards {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint(768px) {
    grid-template-columns: repeat(2, minmax(305px, 1fr));
  }

  @include breakpoint(1024px) {
    grid-template-columns: repeat(3, minmax(305px, 1fr));
  }

  & .card {
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
    background: var(--color-blanco);
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  }
}
