footer {
  position: relative;

  & .element-dark-footer {
    display: none;

    @include breakpoint(1024px) {
      display: block;
      position: absolute;
      right: 20px;
      top: -20px;
      transform: rotate(90deg);
    }

    @include breakpoint(1441px) {
      display: none;
    }
  }

  & .element-clear-footer {
    display: none;

    @include breakpoint(1440px) {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
    }

    @include breakpoint(1441px) {
      display: none;
    }
  }
}
