.image-block {
  position: relative;

  & .element-image-block {
    display: none;

    @include breakpoint(1024px) {
      display: block;
      position: absolute;
      top: 325px;
      right: 0;
    }

    @include breakpoint(1440px) {
      top: auto;
      bottom: 0;
    }

    @include breakpoint(1441px) {
      display: none;
    }
  }
}
